<h3 ng-bind="'fund_sources.manage_coin_address' | t"></h3>
<h5 ng-bind="'fund_sources.manage_coin_address_desc' | t"></h5>
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th ng-bind="'fund_sources.label' | t"></th>
      <th ng-bind="'fund_sources.address' | t"></th>
      <th ng-bind="'fund_sources.tag' | t"></th>
      <th class="text-center" ng-bind="'fund_sources.default' | t"></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="fs in fund_sources()">
      <td class="col-xs-6" ng-bind="fs.extra"></td>
      <td class="col-xs-10" ng-bind="fs.uid"></td>
      <td class="col-xs-4" ng-bind="fs.tag"></td>
      <td class="col-xs-2 text-center">
        <input type="radio" value="fs" ng-checked="fs == defaultFundSource()" ng-click="makeDefault(fs)">
      </td>
      <td class="col-xs-2">
        <a href="javascript:;" ng-click="remove(fs)"><i class="fa fa-trash-o">&nbsp;</i></a>
      </td>
    </tr>
    <tr>
      <td class="col-xs-6">
        <input class="string form-control" placeholder="{{'fund_sources.label' | t}}" ng-model="extra" ng-init="extra = ''" />
      </td>
      <td class="col-xs-10">
        <input class="string form-control" placeholder="{{'fund_sources.address' | t}}" ng-model="uid" ng-init="uid = ''" />
      </td>
      <td class="col-xs-4">
        <input class="string form-control" type="number" step="1" min="0" max="4294967295" placeholder="{{'fund_sources.tag' | t}}" ng-model="tag" ng-init="tag = ''" />
      </td>
      <td colspan="2" class="col-xs-4">
        <button class="form-control" type="submit" ng-click="add()" ng-bind="'fund_sources.add' | t"></button>
      </td>
    </tr>
  </tbody>
</table>
