#particles-js
.hmblubg
  header
    .container
      nav.navbar.navbar-default
        .navbar-header
          button.navbar-toggle.collapsed type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"
            span.sr-only
              | Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand href="#"
            img src='#{image_path 'logo.png'}' alt="Crypto" title="DEMO EXCHANGE"
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.active
              a href="#{market_path(current_market)}"
                = t('header.market')
            / li
            /   a href="#TEAM"
            /     = t('landing.team.title')
            - unless current_user
              li
                a href="#{signin_path}"
                  = t('header.signin')
              li.signin
                a href="#{signup_path}"
                  = t('header.signup')
            - else
              li
                a href="#{settings_path}"
                  = t('header.settings')
              li.signin
                a href="#{signout_path}"
                  = t('header.signout')
  .container
    .buy_sell
      h1
        = t('brand')
      h3
        = t('slogan')
      - if current_user
        button
          = link_to t('header.getstart'), settings_path
      - else
        button
          = link_to t('header.getstart'), signin_path
section.vision
  .container
    .row
      .col-lg-12.col-md-12.col-sm-12
        .vision_part
          h1
            = t('landing.vision.title')
          h3
            = t('landing.vision.subtitle')
          p
            = t('landing.vision.desc')
          p
            = t('landing.vision.desc')
      .col-lg-12.col-md-12.col-sm-12
        .mind
          img.img-responsive src='#{image_path 'mind_mg.png'}' alt=" "
section.hmcount-bg
  .container
    .wrapper
      .counter.col_fourth
        h2.timer.count-title.count-number data-to="5" data-speed="1500"
        p.count-text
          = t('landing.count.currency')
      .counter.col_fourth
        h2.timer.count-title.count-number data-to="10" data-speed="1500"
        p.count-text
          = t('landing.count.country')
      .counter.col_fourth
        h2.timer.count-title.count-number data-to="7" data-speed="1500"
        p.count-text
          = t('landing.count.market')
      .counter.col_fourth
        h2.timer.count-title.count-number data-to="2" data-speed="1500"
        p.count-text
          = t('landing.count.language')
section.hm_whychoose
  .container
    .hm_title.wht
      h2
        = t('landing.choose_us.title')
      h4
        = t('landing.choose_us.subtitle')
    .row
      .col-lg-8.col-md-4.col-sm-8
        .hm_choosecontt
          .hm_chooseimg.wow.fadeInUp data-wow-duration="1s" data-wow-offset="50" data-wow-delay="0s"
            img src='#{image_path 'payment-options.png'}'
          .hm_chooseinfo.wow.fadeInUp data-wow-duration="1s" data-wow-offset="50" data-wow-delay="0s"
            h3
              = t('landing.choose_us.payment.title')
            p
              = t('landing.choose_us.payment.desc')
      .col-lg-8.col-md-4.col-sm-8
        .hm_choosecontt
          .hm_chooseimg.wow.fadeInUp data-wow-duration="2s" data-wow-offset="50" data-wow-delay="0s"
            img src='#{image_path 'strong-security.png'}'
          .hm_chooseinfo.wow.fadeInUp data-wow-duration="2s" data-wow-offset="50" data-wow-delay="0s"
            h3
              = t('landing.choose_us.security.title')
            p
              = t('landing.choose_us.security.desc')
      .col-lg-8.col-md-4.col-sm-8
        .hm_choosecontt
          .hm_chooseimg.wow.fadeInUp data-wow-duration="3s" data-wow-offset="50" data-wow-delay="0s"
            img src='#{image_path 'world-coverage.png'}'
          .hm_chooseinfo.wow.fadeInUp data-wow-duration="3s" data-wow-offset="50" data-wow-delay="0s"
            h3
              = t('landing.choose_us.coverage.title')
            p
              = t('landing.choose_us.coverage.desc')
      .col-lg-8.col-md-4.col-sm-8
        .hm_choosecontt
          .hm_chooseimg.wow.fadeInUp data-wow-duration="1s" data-wow-offset="50" data-wow-delay="0s"
            img src='#{image_path 'fast-withdrawal.png'}'
          .hm_chooseinfo.wow.fadeInUp data-wow-duration="1s" data-wow-offset="50" data-wow-delay="0s"
            h3
              = t('landing.choose_us.fast.title')
            p
              = t('landing.choose_us.fast.desc')
      .col-lg-8.col-md-4.col-sm-8
        .hm_choosecontt
          .hm_chooseimg.wow.fadeInUp data-wow-duration="2s" data-wow-offset="50" data-wow-delay="0s"
            img src='#{image_path 'trust.png'}'
          .hm_chooseinfo.wow.fadeInUp data-wow-duration="2s" data-wow-offset="50" data-wow-delay="0s"
            h3
              = t('landing.choose_us.trust.title')
            p
              = t('landing.choose_us.trust.desc')
      .col-lg-8.col-md-4.col-sm-8
        .hm_choosecontt
          .hm_chooseimg.wow.fadeInUp data-wow-duration="3s" data-wow-offset="50" data-wow-delay="0s"
            img src='#{image_path 'transparency.png'}'
          .hm_chooseinfo.wow.fadeInUp data-wow-duration="3s" data-wow-offset="50" data-wow-delay="0s"
            h3
              = t('landing.choose_us.transparency.title')
            p
              = t('landing.choose_us.transparency.desc')
/ section.hm_roadmap
/   .container
/     .hm_head
/       h2.wow.fadeInLeft data-wow-duration="1s" data-wow-offset="50" data-wow-delay="0s"
/         = t('landing.roadmap.title')
/       h4.wow.fadeInLeft data-wow-duration="1s" data-wow-offset="50" data-wow-delay="0s"
/         = t('landing.roadmap.subtitle')
/     .row.hm_body
/       .timeline
/         .entries
/           .entry
/             .title
/               = t('landing.roadmap.step.1st')
/           .entry
/             .title.big
/               = t('landing.roadmap.step.1st')
/           .entry
/             .title
/               = t('landing.roadmap.step.1st')
/           .entry
/             .title
/               = t('landing.roadmap.step.1st')
/           .entry
/             .title
/               = t('landing.roadmap.step.1st')
/           .entry
/             .title
/               = t('landing.roadmap.step.1st')
/           .entry
/             .title style="padding-bottom:0px;"
/               |
section.hm-platform
  .container
    .col-md-12.col-sm-24
      .platform-main
        .platform-head
          span.plat-vs
            = t('landing.platform.vs')
          h1
            = t('landing.platform.centralized')
            br
              = t('landing.platform.title')
          p
            = t('landing.platform.desc1')
        .platform-leftcol
          .row
            .col-md-4
              .platform-icon
                img src='#{image_path 'high-commission.png'}'
            .col-md-20
              .platform-text
                h2
                  = t('landing.platform.high_commission.title')
                p
                  = t('landing.platform.high_commission.desc')
        .platform-leftcol
          .row
            .col-md-4
              .platform-icon
                img src='#{image_path 'high-cost.png'}'
            .col-md-20
              .platform-text
                h2
                  = t('landing.platform.high_cost.title')
                p
                  = t('landing.platform.high_cost.desc')
        .platform-leftcol
          .row
            .col-md-4
              .platform-icon
                img src='#{image_path 'tough-entry.png'}'
            .col-md-20
              .platform-text
                h2
                  = t('landing.platform.tough_entry.title')
                p
                  = t('landing.platform.tough_entry.desc')
        .platform-leftcol
          .row
            .col-md-4
              .platform-icon
                img src='#{image_path 'unstable.png'}'
            .col-md-20
              .platform-text
                h2
                  = t('landing.platform.unstable_operation.title')
                p
                  = t('landing.platform.unstable_operation.desc')
    .col-md-12.col-sm-24
      .platform-main.platrtl
        .platform-head
          h1
            = t('landing.platform.decentralized')
            br
              = t('landing.platform.title')
          p
            = t('landing.platform.desc2')
        .platform-leftcol
          .row
            .col-md-4
              .platform-icon
                img src='#{image_path 'lower-cost.png'}'
            .col-md-20
              .platform-text
                h2
                  = t('landing.platform.low_cost.title')
                p
                  = t('landing.platform.low_cost.desc')
        .platform-leftcol
          .row
            .col-md-4
              .platform-icon
                img src='#{image_path 'free-use.png'}'
            .col-md-20
              .platform-text
                h2
                  = t('landing.platform.free_use.title')
                p
                  = t('landing.platform.free_use.desc')
        .platform-leftcol
          .row
            .col-md-4
              .platform-icon
                img src='#{image_path 'easy-entry.png'}'
            .col-md-20
              .platform-text
                h2
                  = t('landing.platform.easy_entry.title')
                p
                  = t('landing.platform.easy_entry.desc')
        .platform-leftcol
          .row
            .col-md-4
              .platform-icon
                img src='#{image_path 'modules.png'}'
            .col-md-20
              .platform-text
                h2
                  = t('landing.platform.autnomous_modules.title')
                p
                  = t('landing.platform.autnomous_modules.desc')
section#TEAM.hm-team
  .container
    .col-md-24
      .title-main
        h1
          = t('landing.team.title')
      .our-team
        #ourteam.util-carousel.testimonial
          .item
            .testimonial-content
              .col-md-6.col-xs-24
                .testimonial-user-thumb
                  img src='#{image_path 'p1.png'}' alt=""
              .col-md-18.col-xs-24
                .testimonial-user
                  .testimonial-user-name
                    |  Linda
                  .testimonial-user-meta
                    |  M.D, Co-Founder
                p
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
          .item
            .testimonial-content
              .col-md-6.col-xs-24
                .testimonial-user-thumb
                  img src='#{image_path 'p2.png'}' alt=""
              .col-md-18.col-xs-24
                .testimonial-user
                  .testimonial-user-name
                    |  George Danial
                  .testimonial-user-meta
                    |  CEO, Co-Founder
                p
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
          .item
            .testimonial-content
              .col-md-6.col-xs-24
                .testimonial-user-thumb
                  img src='#{image_path 'p3.png'}' alt=""
              .col-md-18.col-xs-24
                .testimonial-user
                  .testimonial-user-name
                    |  George Danial
                  .testimonial-user-meta
                    |  CEO, Co-Founder
                p
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
          .item
            .testimonial-content
              .col-md-6.col-xs-24
                .testimonial-user-thumb
                  img src='#{image_path 'p4.png'}' alt=""
              .col-md-18.col-xs-24
                .testimonial-user
                  .testimonial-user-name
                    |  George Danial
                  .testimonial-user-meta
                    |  CEO, Co-Founder
                p
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
          .item
            .testimonial-content
              .col-md-6.col-xs-24
                .testimonial-user-thumb
                  img src='#{image_path 'p1.png'}' alt=""
              .col-md-18.col-xs-24
                .testimonial-user
                  .testimonial-user-name
                    |  Linda
                  .testimonial-user-meta
                    |  M.D, Co-Founder
                p
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
          .item
            .testimonial-content
              .col-md-6.col-xs-24
                .testimonial-user-thumb
                  img src='#{image_path 'p2.png'}' alt=""
              .col-md-18.col-xs-24
                .testimonial-user
                  .testimonial-user-name
                    |  George Danial
                  .testimonial-user-meta
                    |  CEO, Co-Founder
                p
                  | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
section.hm_partners
  .container
    .row
      .col-lg-8.col-md-8.col-sm-8
        .partner_heading
          h2.gradient1
            = t('landing.partners.title')
          h4
            = t('landing.partners.desc')
      .col-lg-16.col-md-16.col-sm-16
        .hmpartner_list
          #normal-imglist.util-carousel.normal-imglist
            .item
              a href="#"
                img src='#{image_path 'partner1.png'}' alt=""
            .item
              a href="#"
                img src='#{image_path 'partner2.png'}' alt=""
            .item
              a href="#"
                img src='#{image_path 'partner3.png'}' alt=""
            .item
              a href="#"
                img src='#{image_path 'partner1.png'}' alt=""
            .item
              a href="#"
                img src='#{image_path 'partner2.png'}' alt=""
            .item
              a href="#"
                img src='#{image_path 'partner3.png'}' alt=""
footer
  .container
    .col-md-12.col-sm-12
      .f-about-col
        img src='#{image_path 'logo.png'}'
        p
          = t('footer.copyright')
        p
          = t('brand')
          | .
    .col-md-6.col-sm-6
      .flink
        h2
          = t('footer.main')
        ul
          li
            a href="#"
              = t('header.home')
          li
            a href="#{fees_path}"
              = t('footer.fees')
          li
            a href="#{terms_path}"
              = t('footer.terms')
          li
            a href="#{privacy_path}"
              = t('footer.privacy')
          / li
          /   a href="#{about_path}"
          /     = t('footer.about')
          li
            a href="mailto:support@demo.exchange"
              = t('footer.contact')
    .col-md-6.col-sm-6
      .flink
        h2
          = t('footer.others')
        ul
          li
            a href="#"
              i.fa.fa-facebook-square
              span = t('social.facebook')
          li
            a href="#"
              i.fa.fa-linkedin-square
              span = t('social.linkedin')
          li
            a href="#"
              i.fa.fa-twitter-square
              span = t('social.twitter')
        span#siteseal
          = javascript_include_tag "https://seal.godaddy.com/getSeal?sealID=yFY76JeoKDb3hlZ7OfFfpG4SPSQGWXmWR7FkjkQ5QqWelOBaY6ROanQ6ylBI"