<h1 id="terms-of-use">Terms of Use</h1>
<hr>
<p>Last update: May 20th, 2018</p>
<br>
<p>These Terms of Use constitute an electronic agreement between you (hereinafter the “User”) and DEMO EXCHANGE (hereinafter the “DEMO EXCHANGE”) that applies to the User's use of this website, any and all services, products and content provided by DEMO EXCHANGE.</p>
<p>As used herein, “DEMO EXCHANGE” refers to the company DEMO EXCHANGE Company, including but not limited to, its owners, directors, investors, officers, employees, agents or other related parties, unless otherwise provided herein.</p>
<p>These Terms of Use contain important provisions, which the User must consider carefully when choosing whether to visit the Site and use the services, products and content of DEMO EXCHANGE. Please read these Terms of Use carefully before agreeing to them.</p>
<p>The User is solely responsible for understanding and complying with any and all laws, rules and regulations of his/her specific jurisdiction that may be applicable to the User in connection with the use of any and all services, products and content of DEMO EXCHANGE.</p>
<p>These Terms of Use incorporate Privacy Policy as well as any other policies published on the Site by reference, so by accepting these Terms of Use, the User agrees with and accepts all the policies published on the Site</p>
<p>IF THE USER DOES NOT ACCEPT THESE TERMS OF USE, THE USER SHALL NOT ACCESS THIS SITE AND SHALL NOT USE ANY OF DEMO EXCHANGE’S SERVICES, PRODUCTS AND CONTENT.</p>
<h3 id="1-definitions">1. DEFINITIONS</h3>
<p>1.1. Capitalized terms used in these Terms of Use shall be interpreted in accordance with the definitions provided below:</p>
<p>1.1.1. Account: means an account registered by the User on the Platform.</p>
<p>1.1.2. Base Currency: means the first symbol in the trading pair.</p>
<p>1.1.3. Buyer: means the User who submits an Order to buy GHS or Cryptocurrencies through the Platform.</p>
<p>1.1.4. Commission: means a fee charged by or on behalf of any third party (e.g. bank, non-bank financial institution, payment service provider, etc).</p>
<p>1.1.5. Cryptocurrency: means peer-to-peer decentralized digital representation of value (e.g. bitcoins, ethers, etc.).</p>
<p>1.1.6. Deposit: means a Transaction involving transfer of Funds to the Account.</p>
<p>1.1.7. Fiat currency: means government-issued currency, that is designated as legal tender in its country of issuance through government decree, regulation, or law.</p>
<p>1.1.8. Funds: means Cryptocurrency, Fiat currency and/or GHS.</p>
<p>1.1.9. GHS: means Gigahashes, or gh/s — the processing speed of mining hardware, which can be traded on the Platform.</p>
<p>1.1.10. Margin Trading: means leverage trading when the User may trade with borrowed Funds instead of his/her own (i.e. open a position using less of own Funds than the actual amount of this position).</p>
<p>1.1.11. Order: means the User’s instruction to buy or sell Cryptocurrency or GHS on certain conditions.</p>
<p>1.1.12. Platform: means an environment created by DEMO EXCHANGE that allows to trade Cryptocurrencies and GHS.</p>
<p>1.1.13. Rollover fee: means estimated fee that is charged by DEMO EXCHANGE from the User’s balance to rollover a position for the next 4 hours.</p>
<p>1.1.14. Seller: means the User who submits an Order to sell GHS or Cryptocurrencies through the Platform.</p>
<p>1.1.15. Services: means all and any service provided by DEMO EXCHANGE.</p>
<p>1.1.16. Site: means DEMO EXCHANGE website at <a href="https://demo.exchange/" title="https://demo.exchange/">https://demo.exchange/</a>.</p>
<p>1.1.17. Storage: means DEMO EXCHANGE service, which includes storing of balances (in Fiat currency and/or in Cryptocurrency) from the abandoned Accounts, no longer supported cryptocurrencies or GHS.</p>
<p>1.1.18. Transaction fee: means a fee which is payable to DEMO EXCHANGE for each completed Transaction.</p>
<p>1.1.19. Transaction Price: means the total price paid by the Buyer in respect to each Transaction performed via the Service.</p>
<p>1.1.20. Transaction: means (i) transfer of Cryptocurrencies or Fiat currencies by the User to his/her Account (“Deposit Transaction”); (ii) transfer of Cryptocurrencies, GHS or Fiat currencies among the Users (“Trading Transaction”), (iii) withdrawal of Cryptocurrencies or Fiat currencies from his/her Account (“Withdrawal Transaction”).</p>
<p>1.1.21. User: means a person or an entity that uses the Services, agrees to follow the Terms of Use and is a holder of an Account.</p>
<p>1.1.22. Voucher: means an alphanumeric redeemable code, which can be used to transfer Cryptocurrency or GHS between Accounts.</p>
<p>1.1.23. Withdrawal: means a Transaction involving a transfer of Funds from the User’s Account to his/her bank account or to an account opened in any other financial institution.</p>
<p>1.2. Where the context so admits words denoting the singular shall include the plural and vice versa.</p>
<h3 id="2-the-scope-of-the-services">2. THE SCOPE OF THE SERVICES</h3>
<p>2.1. The Services allow all Users of the Platform to trade Cryptocurrencies and GHS with other Users.</p>
<p>2.2. Depending on the User’s place of residence, the User may not be able to use all the functions of the Site. It is the User’s responsibility to follow those rules and laws in his/her place of residence and/or place from which the User accesses this Site.</p>
<p>2.3. The User acknowledges and agrees that, when completing Trading Transactions, he/she is trading with other Users, and that DEMO EXCHANGE acts only as an intermediary in such Transactions, not as the counterparty to any trade.</p>
<h3 id="3-the-user-s-rights-and-responsibilities">3. THE USER’S RIGHTS AND RESPONSIBILITIES</h3>
<p>3.1. The User has the right to enter and use the Site and the Services, as long as he/she agrees to and actually complies with the Terms of Use. By using the Site, the User agrees to accept and comply with the terms and conditions stated herein.</p>
<p>3.2. The User undertakes to read the entire Terms of Use carefully before using the Site or any of the services provided by DEMO EXCHANGE.</p>
<p>3.3. The User undertakes to comply with any and all applicable laws and regulations related to the use of the Services.</p>
<p>3.4. The User undertakes to monitor all and any changes on his/her Account, including but not limited to the balance matters.</p>
<p>3.5. The User undertakes to immediately (i.e. right after the moment of discovery) inform DEMO EXCHANGE about any unusual, suspicious, unclear or abnormal changes on his/her Account. In case of late informing or non-informing the User will be liable for the breach of the Terms of Use and DEMO EXCHANGE will have the right to take any further steps accordingly, including but not limited to report to the relevant state authorities.</p>
<p>3.6. The User agrees that, whenever the Transaction is made, the Platform sends and receives the monetary sums and/or cryptocurrencies to/from the Buyer’s and the Seller’s Accounts opened in their name and on their behalf.</p>
<p>3.7. The User undertakes to notify DEMO EXCHANGE immediately of any unauthorized use of his/her Account or password, or any other breach of security by email addressed to <a href="mailto:support@demo.exchange">support@demo.exchange</a>. Any User who violates the mentioned rules may be terminated, and thereafter held liable for any losses incurred by DEMO EXCHANGE or any user of the Site.</p>
<p>3.8. The User undertakes not to use the Service to perform criminal activity of any sort, including but not limited to, money laundering, illegal gambling operations, financing terrorist organizations, or malicious hacking.</p>
<p>3.9. The User is responsible for any and all damages caused and all liability actions brought against DEMO EXCHANGE for infringement of any third party rights or violation of any applicable laws.</p>
<p>3.10. Nothing in the Terms of Use excludes or limits the liability of the User for fraud, death or personal injury caused by their negligence, breach of the terms implied by operation of law or any other liability which may not be limited or excluded by law.</p>
<p>3.11. Users are solely responsible for determining whether any contemplated Transaction is appropriate for them based on their personal goals, financial status and risk willingness.</p>
<p>3.12. All added payment instruments to your Account, may it be a bank account, credit card, debit card, or others must be named after the Account holder. Any attempt otherwise will be considered as fraud.</p>
<h3 id="4-the-user-s-representations-and-warranties">4. THE USER’S REPRESENTATIONS AND WARRANTIES</h3>
<p>4.1. By registering an Account, the User expressly represents and warrants that he/she:</p>
<ul>
  <li>follows the rules and laws in his/her country of residence and/or country from which he /she accesses this Site and Services;</li>
  <li>has accepted these Terms of Use;</li>
  <li>is at least 18 years old and has the right to accept these Terms of Use and participate in transactions involving cryptocurrencies and GHS.</li>
</ul>
<p>4.2. The User represents and warrants that he/she will only use the Platform to perform Transactions in accordance with the conditions set forth in these Terms and that they are duly authorised and have the capacity to enter into the Transactions on the Platform.</p>
<p>4.3. The User represents and warrants that both Fiat currency and cryptocurrency deposited to the Account belong to the User and derived from legal sources.</p>
<p>4.4. The User represents and warrants than he/she will withdraw any cryprocurrency from his/her Account only to his/her wallets, otherwise DEMO EXCHANGE does not hold any liability for the consequences of such withdrawal. </p>
<p>4.5. The User represents and warrants that all Transactions being carried out do not violate the rights of any third party or applicable laws.</p>
<h3 id="5-rights-and-responsibilities">5. DEMO EXCHANGE'S RIGHTS AND RESPONSIBILITIES</h3>
<p>5.1. DEMO EXCHANGE has the right to suspend the User’s Account and block all Cryptocurrency, Fiat currency and GHS contained therein in case of non-fulfilment or unduly fulfilment of the Terms of Use by the User.</p>
<p>5.2. DEMO EXCHANGE undertakes to provide the Services with the utmost effort, due care and in accordance with these Terms of Use.</p>
<p>5.3. DEMO EXCHANGE’s responsibility shall be limited to using reasonable technical efforts to ensure the receipt of the cryptocurrency transferred. When initiating cryptocurrency transactions to a user who is not the DEMO EXCHANGE User, DEMO EXCHANGE responsibility shall be further limited to ensuring the transfer of the necessary technical data to the cryptocurrency network.</p>
<p>5.4. To the extent permitted by law, DEMO EXCHANGE is not responsible for any damages, loss of profit, loss of revenue, loss of business, loss of opportunity, loss of data, indirect or consequential loss unless the loss suffered is caused by a breach of the Terms of Use by DEMO EXCHANGE.</p>
<p>5.5. DEMO EXCHANGE is not responsible for any malfunction, breakdown, delay or interruption of the Internet connection or any reason why our site is unavailable at any given time.</p>
<p>5.6. DEMO EXCHANGE is not responsible for the delay in the processing of payments made by the fault of any third parties, operators of such transactions.</p>
<p>5.7. In the case of fraud, DEMO EXCHANGE undertakes to report all the necessary information, including names, addresses and all other requested information, to the relevant authorities dealing with fraud and breaches of the law. The Users recognize that their account may be frozen at any time at the request of any competent authority investigating a fraud or any other illegal activity.</p>
<p>5.8. Nothing in these terms excludes or limits the responsibility of DEMO EXCHANGE for fraud, death or personal injury caused by their negligence, breach of the terms implied by operation of the law or any other liability which may not be limited or excluded by law.</p>
<h3 id="6-representations-and-warranties">6. DEMO EXCHANGE’S REPRESENTATIONS AND WARRANTIES</h3>
<p>6.1. DEMO EXCHANGE shall provide the Services with reasonable care and skill and in accordance with these Terms of Use.</p>
<p>6.2. All buy and sell orders made on the Platform, will be managed in an anonymous manner so that Buyers and Sellers are not acquainted with each other. The Transaction Price is calculated on the basis of actual matched orders made by the Buyers and Sellers participating in the bidding process on the Platform combined with the applicable Transaction fees.</p>
<p>6.3. DEMO EXCHANGE represents and warrants that once the orders to buy or sell Cryptocurrencies and GHS match, such orders may not be cancelled or reversed. It holds all Cryptocurrencies and GHS acquired by each User in his/her Account and on the respective User's behalf.</p>
<h3 id="7-intellectual-property-rights">7. INTELLECTUAL PROPERTY RIGHTS</h3>
<p>7.1. All content on this Site is the property of DEMO EXCHANGE and is protected by copyright, patent, trademark and any other applicable laws, unless otherwise specified hereby.</p>
<p>7.2. The trademarks, trade names, service marks and logos of DEMO EXCHANGE and others used on the Site (hereinafter the “Trademarks”) are the property of DEMO EXCHANGE and its respective owners. The software, applications, text, images, graphics, data, prices, trades, charts, graphs, video and audio materials used on this Site belong to DEMO EXCHANGE. The Trademarks and other content on the Site should not be copied, reproduced, modified, republished, uploaded, posted, transmitted, scraped, collected or distributed in any form or by any means, no matter manual or automated. The use of any content from the Site on any other site or a networked computer environment for any other purpose is strictly prohibited; any such unauthorized use may violate copyright, patent, trademark and any other applicable laws and could result in criminal or civil penalties.</p>
<p>7.3. DEMO EXCHANGE supports the protection of intellectual property. If you would like to submit (i) a trademark claim for violation of a mark on which you hold a valid, registered trademark or service mark, or (ii) a copyright claim for any material on which you hold a bona fide copyright, please send us an email to <a href="mailto:support@demo.exchange">support@demo.exchange</a></p>
<h3 id="8-the-user-verification">8. THE USER VERIFICATION</h3>
<p>8.1. Identification and verification procedures (also known as 'Know Your Customer' or 'KYC') are required for all the Transactions. If the User refuses to provide required documents and information under KYC, DEMO EXCHANGE reserves the right to immediately terminate the Services provision to the User.</p>
<p>8.2. The User undertakes to provide DEMO EXCHANGE with correct and relevant documents and personal information contained therein. In case the User provides counterfeit documents and false personal information, such behavior will be interpreted as a fraudulent activity.</p>
<p>8.3. The User hereby authorise DEMO EXCHANGE to, directly or indirectly (through third parties), make any inquiries we consider it necessary to check the relevance and accuracy of the information provided for verification purposes.</p>
<h3 id="9-account-maintenance">9. ACCOUNT MAINTENANCE</h3>
<p>9.1. The Site is for the User’s personal and non-commercial use only. DEMO EXCHANGE is vigilant in maintaining the security of the Site and the Service. By registering with DEMO EXCHANGE, the User agrees to provide DEMO EXCHANGE with current, accurate and complete personal information as prompted by the registration process and to keep such information updated.</p>
<p>9.2. The User is allowed to register only one Account on the Platform. Thus, any additional Account may be suspended.</p>
<p>9.3. The User agrees that he/she will not use any Account other than their own or access the Account of any other User at any time, or assist others in obtaining unauthorized access.</p>
<p>9.4. DEMO EXCHANGE reserves the right to recommend amount limits for the Account funding/withdrawal. DEMO EXCHANGE could recommend daily, monthly and per one-transaction amount limits. </p>
<p>9.5. The User is responsible for maintaining the confidentiality of information on their Account, including, but not limited to their password, email, wallet address, wallet balance and of all activities including Transactions made via their Account. If there is any suspicious activity related to the User’s Account, DEMO EXCHANGE may request additional information from the User, including authenticating documents and freeze the Account for the review time. The User is obligated to comply with these security requests or accept termination of their Account.</p>
<p>9.6. Creation or use of the Accounts without obtaining a prior express permission from DEMO EXCHANGE will result in the immediate suspension of all respective Accounts, as well as all pending buy/sell orders. Any attempt to do so or to assist others (Users or other third parties), or distribution of instructions, software or tools for that purpose will result in termination of such Users’ Accounts. Termination is not an exclusive remedy for such a violation and DEMO EXCHANGE may decide to take further action against the User.</p>
<p>9.7. In case if it has been more than six (6) month since the User signed in with his/her Account or made the Funds deposit, DEMO EXCHANGE has the right to qualify this Account as abandoned. In that case Storage fee will be applied to such Account with seven (7) days prior email notification to the User. DEMO EXCHANGE will charge the Storage fee set forth herein. Abandoned Accounts with zero balances shall be deactivated.</p>
<h3 id="10-transactions">10. TRANSACTIONS</h3>
<p>10.1. The Platform allows the User to submit the Orders to buy or sell Cryptocurrencies and GHS.</p>
<p>10.2. The User recognizes that the Order should only be submitted after careful consideration and the User understands and accepts consequences of its execution. The User agrees that as soon as the Order is executed, such transaction is irreversible and may not be cancelled. Transactions will be executed instantly upon the matching of the Buyer's and the Seller's Orders without prior notice to the Seller and the Buyer and will be considered to have taken place at the execution date and time.</p>
<p>10.3. The User acknowledges and agrees that in case the destination tag is not specified, is incorrectly indicated (in particular XRP, XLM) or the reference number is incorrectly specified (for Fiat transactions), the User may lose the deposit or at least the processing speed of such requests will be made with low priority.</p>
<p>10.4. Minimum and maximum order amount vary for each trading pair and can be seen on the Trade Page when placing an Order.</p>
<p>10.5. The User acknowledges and agrees that Deposit and Withdrawal Transaction in Fiat currency may be delayed due to some bank verifications and checks. Similarly and due to the inherent nature of the cryptocurrency networks, the User acknowledges and agrees that depositing and withdrawing Cryptocurrencies into/from their Account may take some time.</p>
<p>10.6. Unverified users are not allowed to withdraw any Cryptocurrencies or GHS from their Account within forty-eight (48) hours after the Account was created.</p>
<p>10.7. The User can use Vouchers to transfer Cryptocurrencies and GHS between the Accounts. No commissions or fees are charged for generating and redeeming Vouchers. The Voucher should be redeemed before its expiration date set by DEMO EXCHANGE. DEMO EXCHANGE shall not be liable and shall not accept any liability, obligation or responsibility whatsoever for any loss or damage arising from the User's use of the Vouchers purchased from any third parties or acquired in any other way. To avoid doubts, the User is solely responsible for ensuring that the Voucher they acquired is genuine and redeemable.</p>
<p>10.8. In case if the User discovers transaction activity, including but not limited to unknown deposits and withdrawals, on their Account that was not initiated by the User, the User shall immediately notify DEMO EXCHANGE of this fact and follow the instructions sent by DEMO EXCHANGE. Otherwise, DEMO EXCHANGE reserves the right to freeze the Account until the end of investigation.</p>
<p>10.9. DEMO EXCHANGE may be forced to cancel or recall already executed Withdrawal Transaction at a request of financial institutions, including but not limited to banks, which are involved in settlement of such Transactions. In such cases the User obliges to cooperate with DEMO EXCHANGE in order to discover the reasons for such request.</p>
<p>10.10. You should deposit more than Minimum deposit amount for cryptocurrencies. If the amount is less than specified, the funds will not be credited to the User's Account.</p>
<h3 id="11-transaction-fee">11. TRANSACTION FEE</h3>
<p>11.1. The User agrees to pay DEMO EXCHANGE the Transaction fee for each completed Transaction.</p>
<p>11.2. Prior to trading, the User must consider the Transaction fee rates published on the <a href="https://demo.exchange/fees/" title="https://demo.exchange/fees">Fee Policies</a> page. However, DEMO EXCHANGE reserves the right to change the Transaction fee rates from time to time publishing updates on the <a href="https://demo.exchange/fees/" title="https://demo.exchange/fees">Fee Policies</a> page.</p>
<p>11.3. The Transaction fee amount is automatically charged off in the currency indicated after symbol “/” in the trading pair after the relevant Transaction. Thus, for BTC/USD the fee is charged in USD; for ETH/BTC the fee is charged in BTC.</p>
<p>11.4. The minimum transaction fee equals to minimum currency amount. For Fiat currency it equals to 0.01, for Cryptocurrency it depends on the currency. The Transaction fee is charged according to the Rounding policy.</p>
<p>11.5. Minimum and maximum price, as well as minimum and maximum order amount vary for each trading pair and can be seen on the Trade Page when placing an order.</p>
<p>11.6. For specific type of orders the Transaction fee may differ from those published on the 'Fee Schedule' page. Transaction fee rate shall be disclosed before the order execution.</p>
<p>11.7. The Transaction fee, other charges, as well as the charge procedure can be changed/reviewed unilaterally by DEMO EXCHANGE from time to time and such changes shall become effective the moment they are posted on the Site.</p>
<h3 id="12-rounding-policy">12. ROUNDING POLICY</h3>
<p>12.1. For all financial calculations DEMO EXCHANGE uses the rounding policy in the favour of the Platform. DEMO EXCHANGE rounds the Fiat currencies to the 2nd digit after the separator. The Rounding policy for cryptocurrencies varies depending on cryptocurrency.</p>
<p>12.2. For the purpose of the processes optimization, transactions on the Platform with regard to some items (including, but not limited to currencies, crypocurrencies, etc.) will not be reflected at the User’s Account and will appear as soon as a unit is whole in accordance with the rounding standards.</p>
<h3 id="13-illegal-transactions">13. ILLEGAL TRANSACTIONS</h3>
<p>13.1. DEMO EXCHANGE reserves the right to suspend or terminate your DEMO EXCHANGE Account at any time if we reasonably believe to be required to do so by the law or in order to comply with recommendations issued by a relevant government authority or recognized body for the prevention of financial crime.</p>
<p>13.2. It is strictly forbidden to use the Account for any illegal purposes. DEMO EXCHANGE will report any suspicious activity to the relevant law enforcement. </p>
<p>13.3. The User shall ensure that they do not use the Services for the transactions relating to:</p>
<ul>
  <li>money laundering, terrorist financing, proliferation of weapons of mass destruction;</li>
  <li>human trafficking;</li>
  <li>any goods or services that are illegal or the promotion, offer or marketing of which is illegal or that are offered in connection with illegal, obscene or pornographic content, depict children or minors in sexual postures, depict means of propaganda or signs of unconstitutional organisations glorifying war or violating human dignity;</li>
  <li>any goods or services, promotion, offer or marketing of which would violate copyrights, industrial property rights or other rights of any person;</li>
  <li>archeological findings;</li>
  <li>drugs, narcotics or hallucinogens;</li>
  <li>weapons of any kind;</li>
  <li>illegal gambling services;</li>
  <li>Ponzi, pyramid or any other “get rich quick” schemes;</li>
  <li>goods that are subject to any trade embargo;</li>
  <li>media that is harmful to minors and violates laws and, in particular, the provision in respect of the protection of minors;</li>
  <li>body parts or human remains;</li>
  <li>protected animals or protected plants;</li>
  <li>weapons or explosive materials; or</li>
  <li>any other illegal goods, services or transactions.</li>
</ul>
<h3 id="14-account-security">14. ACCOUNT SECURITY</h3>
<p>14.1. The User is responsible for maintaining the confidentiality of their Account’s credentials, including, but not limited to a password, email, wallet address, balance and of all activity including Transactions made through the Account.</p>
<p>14.2. DEMO EXCHANGE personnel will never ask the User to disclose their password. Any message the User receives or website that he/she visits that asks for the password, other than the DEMO EXCHANGE Site, should be reported to DEMO EXCHANGE. If the User is in doubt whether a website is genuine, it is required to ensure the website is SSL compliant (Security Certificate Validation is shown in the address bar of a web browser).</p>
<p>14.3. It is advisable to change the User’s password regularly (at least every three (3) to six (6) months) in order to reduce the risk of a security breach in relation to the Account. DEMO EXCHANGE also advises the User not to choose a password that is easily guessed from information someone might know or gather about the User or a password that has a meaning. The User must never allow anyone to access his/her Account or watch the User accessing his/her Account.</p>
<p>14.4. If the User has any security concerns about his/her Account, login details, password or other security feature being lost, stolen, misappropriated, used without authorization or otherwise compromised, the User is advised to change the password. The User must contact Support Service without undue delay on becoming aware of any loss, theft, misappropriation or unauthorized use of the Account, login details, password or other security features. Any undue delay in notifying DEMO EXCHANGE may not only affect the security of the Account, but may result in the User being liable for any losses as a result. If the User suspects that someone else accessed his/her Account, the User should also contact an appropriate government agency and report the incident.</p>
<p>14.5. The User must take reasonable care to ensure that his/her e-mail account(s) are secure and only accessed by the User, as his/her e-mail address may be used to reset passwords or to communicate with the User about the security of the Account. DEMO EXCHANGE cannot be liable for the breach of an e-mail account resulting an unauthorized Transaction to be executed with proper confirmation. In case any of the e-mail addresses registered with the User’s Accounts are compromised, the User should without undue delay after becoming aware of this contact Support Service and also contact his/her e-mail service provider.</p>
<p>14.6. Irrespective of whether the User is using a public, a shared or his/her own computer to access the Account, the User must always ensure that his/her login details are not stored by the browser, cached or otherwise recorded. The User should never use any functionality that allows login details or passwords to be stored by the computer he/she is using.</p>
<p>14.7. Additional products or services the User uses may have additional security requirements and the User must familiarize with those as notified to him/her.</p>
<p>14.8. Two-factor authentication must be enabled in order to make any Withdrawal Transactions.</p>
<h3 id="15-termination-of-the-terms-of-use">15. TERMINATION OF THE TERMS OF USE</h3>
<p>15.1. The User may terminate the Terms of Use and close their Account at any time, following settlement of any pending transactions.</p>
<p>15.2. The User also agrees that DEMO EXCHANGE may, by giving notice, at its sole discretion terminate his/her access to the Site and to his/her Account, including without limitation, our right to: limit, suspend or terminate the service and the Users' Accounts, prohibit access to the Site and its content, services and tools, delay or remove hosted content and take technical and legal steps to keep the Users off the Site if we think that they are creating problems or possible legal liabilities, infringing the intellectual property rights of third parties or acting inconsistently with the letter or spirit of these Terms. Additionally, we may, in appropriate circumstances and at our discretion, suspend or terminate Accounts of Users for any reason, including without limitation: (1) attempts to gain unauthorized access to the Site or another User's account or providing assistance to others' attempting to do so, (2) overcoming software security features limiting use of or protecting any content, (3) usage of the Service to perform illegal activities such as money laundering, illegal gambling operations, financing terrorism, or other criminal activities, (4) violations of these Terms of Use, (5) failure to pay or fraudulent payment for Transactions, (6) unexpected operational difficulties, or (7) upon the request of law enforcement or other government agencies, if deemed to be legitimate and compelling by DEMO EXCHANGE, acting at its sole discretion.</p>
<p>15.3. DEMO EXCHANGE also reserves the right to cancel unconfirmed Accounts or Accounts that have been inactive for a period of six (6) months or more and/or to modify or discontinue our Site or Service. The User agrees that DEMO EXCHANGE will not be liable to them or to any third party for termination of their Account or access to the Site.</p>
<p>15.4. The suspension of the Account shall not affect the payment of the Transaction fees due for past Transactions. Upon termination, the User shall provide a valid bank account details or cryptocurrency address to allow the transfer of any currencies deposited to his/her Account. DEMO EXCHANGE shall transfer the currencies as soon as possible following the User's request in the time frames specified by DEMO EXCHANGE.</p>
<p>15.5. DEMO EXCHANGE will send the credit balance of the User’s Account to him/her, however in circumstances a number of intermediaries may be involved in an international payment and these or the beneficiary bank may deduct charges. DEMO EXCHANGE will use reasonable efforts to ensure that such charges are disclosed to the User prior to sending the payment; however where they cannot be avoided, the User acknowledges that these charges cannot always be calculated in advance, and that he/she agrees to be responsible for such charges.</p>
<h3 id="16-services-availability">16. SERVICES AVAILABILITY</h3>
<p>16.1. All Services are provided “AS IS”, without guarantees of any kind, either expressed or implied.</p>
<p>16.2. DEMO EXCHANGE will strive to keep the Site up and running; however, all online services suffer from occasional disruptions and outages and DEMO EXCHANGE is not liable for any disruption or loss the User may suffer as a result. Thus, DEMO EXCHANGE does not provide any guarantees that access to the Site will not be interrupted or that there will be no delays, failures, errors, omissions or loss of transmitted information.</p>
<p>16.3. DEMO EXCHANGE will use reasonable endeavors to ensure that the User can normally access the Site in accordance with the Terms of Use. DEMO EXCHANGE may suspend use of the Site for maintenance and will make reasonable efforts to give the User a notice. The User acknowledges that this may not be possible in an emergency.</p>
<h3 id="17-financial-or-legal-advice">17. FINANCIAL OR LEGAL ADVICE</h3>
<p>DEMO EXCHANGE does not provide any financial, investment or legal advice in connection with the Services provided by DEMO EXCHANGE. DEMO EXCHANGE may provide information on the price, range, volatility of Cryptocurrencies and events that have affected the price of Cryptocurrencies, but it should not be considered as an investment or financial advice and should not be construed as such. Any decision to buy or sell Cryptocurrencies is the User’s decision and DEMO EXCHANGE will not be liable for any loss suffered.</p>
<h3 id="18-taxation">18. TAXATION</h3>
<p>18.1. The User undertakes to pay all his/her taxes and duties, which can be resulted from the use of DEMO EXCHANGE Services and should be paid according to the User’s state of residence regulations.</p>
<p>18.2. DEMO EXCHANGE is not responsible for any violation made by the User due to his/her obligation to calculate and pay taxes and duties.</p>
<h3 id="19-notices-and-communication">19. NOTICES AND COMMUNICATION</h3>
<p>19.1. DEMO EXCHANGE reserves the right to send notices to, and communicate with the User by any means of communication available to DEMO EXCHANGE, considering the contact details provided by the User.</p>
<p>19.2. The User expressly agrees to receive any notices in electronic form and to be bound by them, if so is required by the Terms of Use.</p>
<h3 id="20-governing-law-and-dispute-resolution">20. GOVERNING LAW AND DISPUTE RESOLUTION</h3>
<p>These Terms of Use shall be governed by and construed in accordance with the laws of the United Kingdom, unless otherwise expressly provided. All disputes and controversies arising out of or in connection with this website and these Terms of Use shall be submitted to the United Kingdom Court in London (main office), as the Court of first instance. If any portion of these Terms of Use shall be deemed invalid, void or for any reason unenforceable, such portion shall be deemed severable and shall not affect the validity and enforceability of any remaining portion.</p>
<h3 id="21-limitation-of-liability">21. LIMITATION OF LIABILITY</h3>
<p>21.1. IN NO EVENT SHALL DEMO EXCHANGE, ITS OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, AND ALL THIRD PARTY SERVICE PROVIDERS BE LIABLE TO THE USER OR ANY OTHER PERSON OR ENTITY FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, PUNITIVE OR CONSEQUENTIAL DAMAGES WHATSOEVER, INCLUDING ANY THAT MAY RESULT FROM (I) ACCURACY, COMPLETENESS OR CONTENT OF THIS SITE, (II) ACCURACY, COMPLETENESS OR CONTENT OF ANY SITES LINKED (THROUGH HYPERLINKS, BANNER ADVERTISING OR OTHERWISE) TO THIS SITE, (III) THE SERVICES FOUND AT THIS SITE OR ANY SITES LINKED (THROUGH HYPERLINKS, BANNER ADVERTISING OR OTHERWISE) TO THIS SITE, (IV) PERSONAL INJURY OR PROPERTY DAMAGE OF ANY NATURE WHATSOEVER, (V) THIRD-PARTY CONDUCT OF ANY NATURE WHATSOEVER, (VI) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR SERVERS AND/OR ANY AND ALL CONTENT, PERSONAL INFORMATION, FINANCIAL INFORMATION OR OTHER INFORMATION AND DATA STORED THEREIN, (VII) ANY INTERRUPTION OR CESSATION OF SERVICES TO OR FROM THIS SITE OR ANY SITES LINKED (THROUGH HYPERLINKS, BANNER ADVERTISING OR OTHERWISE) TO THIS SITE, (VIII) ANY VIRUSES, WORMS, BUGS, TROJAN HORSES OR THE LIKE, WHICH MAY BE TRANSMITTED TO OR FROM THIS SITE OR ANY SITES LINKED (THROUGH HYPERLINKS, BANNER ADVERTISING OR OTHERWISE) TO THIS SITE, (IX) ANY USER CONTENT OR CONTENT THAT IS DEFAMATORY, HARASSING, ABUSIVE, HARMFUL TO MINORS OR ANY PROTECTED CLASS, PORNOGRAPHIC, “X-RATED”, OBSCENE OR OTHERWISE OBJECTIONABLE AND/ OR (X) ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USER'S USE OF THIS SITE OR THE SERVICES FOUND AT THIS SITE, WHETHER BASED ON WARRANTY, CONTRACT, TORT OR ANY OTHER LEGAL OR EQUITABLE THEORY AND WHETHER OR NOT DEMO EXCHANGE IS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. IN ADDITION, YOU SPECIFICALLY ACKNOWLEDGE AND AGREE THAT ANY CAUSE OF ACTION ARISING OUT OF OR RELATED TO THIS SITE OR THE SERVICES FOUND AT THIS SITE MUST BE COMMENCED WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES, OTHERWISE SUCH CAUSE OF ACTION SHALL BE PERMANENTLY BARRED. IN ADDITION, THE USER SPECIFICALLY ACKNOWLEDGE AND AGREE THAT IN NO EVENT SHALL DEMO EXCHANGE’S TOTAL AGGREGATE LIABILITY EXCEED THE TOTAL AMOUNT PAID BY THE USER FOR THE PARTICULAR SERVICES THAT ARE THE SUBJECT OF THE CAUSE OF ACTION. THE FOREGOING LIMITATION OF LIABILITY SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW AND SHALL SURVIVE ANY TERMINATION OR EXPIRATION OF THIS AGREEMENT OR THE USER'S USE OF THIS SITE OR THE SERVICES FOUND AT THIS SITE.</p>
<p>21.2. DEMO EXCHANGE will not be liable for the Transactions, initiated by the User, below the prescribed limits, as stated in clause 10.10. hereof.</p>
<h3 id="22-indemnity">22. INDEMNITY</h3>
<p>The User agrees to protect, defend, indemnify and hold harmless DEMO EXCHANGE and its officers, directors, employees, agents and third party service providers from and against any and all claims, demands, costs, expenses, losses, liabilities and damages of every kind and nature (including, without limitation, reasonable attorneys’ fees) imposed upon or incurred by DEMO EXCHANGE directly or indirectly arising from (i) the User’s use of and access to this Site or the Services found at this Site; (ii) the User’s violation of any provision of the Terms of Use or the policies or agreements which are incorporated herein; and/or (iii) the User’s violation of any third-party right, including without limitation any intellectual property or other proprietary right. The indemnification obligations under this section shall survive any termination or expiration of the Terms of Use or the User’s use of this Site or the Services found on this Site.</p>
<h3 id="23-modifications-and-amendments">23. MODIFICATIONS AND AMENDMENTS</h3>
<p>DEMO EXCHANGE reserves the right to amend or modify any portion of these Terms of Use at any time by publishing the revised version of the Terms of Use on the Site. The changes will become effective and shall be deemed accepted by the User, the first time the User uses the Services after the publishing of the revised Terms of Use and shall apply on a going-forward basis with respect to any activity initiated after publishing. In the event that the User does not agree with any such modification, the User's sole and exclusive remedy is to terminate the use of the Services and close the Account. The User agrees that DEMO EXCHANGE shall not be liable to the User or any third party as a result of any losses suffered by any modification or amendment of these Terms of Use.</p>
<h3 id="24-force-majeure">24. FORCE MAJEURE</h3>
<p>If DEMO EXCHANGE is unable to perform the Services outlined in the Terms of Use due to the factors beyond its control including but not limited to the event of Force Majeure, change of law or change in sanctions policy, DEMO EXCHANGE will not have any responsibility to the User with respect to the Services provided hereunder and for a time period coincident with the event.</p>
<h3 id="25-links-to-third-party-websites">25. LINKS TO THIRD-PARTY WEBSITES</h3>
<p>This Site and the Services found at this Site may contain links to third-party websites that are not owned or controlled by DEMO EXCHANGE. DEMO EXCHANGE assumes no responsibility for the content, terms and conditions, privacy policies or practices of any third-party websites. In addition, DEMO EXCHANGE does not censor or edit the content of any third-party websites. By using this Site or the Services found at this Site, you expressly release DEMO EXCHANGE from any and all liability arising from the User's use of any third-party website. Accordingly, DEMO EXCHANGE encourages the User to be aware when the User leaves this Site or the Services found at this Site and to review the terms and conditions, privacy policies and other governing documents of any other website that you may visit.</p>
<h3 id="contact-us">CONTACT US</h3>
<p>If you have any questions relating to these Terms of Use, your rights and obligations arising from these Terms and/or your use of the Site and the Service, your Account or any other matter, please, contact <a href="mailto:&quot;support@demo.exchange" title="support@demo.exchange">support@demo.exchange</a></p>
<hr>